---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
## Introduction to unix shell

* 2012- (27 hours), BSc level (L1)
* shell commands, scripts, sed

## Machine Learning

* 2011- (40 hours)
* MSc level (M1)
* Naive Bayes, SVM, perceptron, MLP

## Machine Translation

* 2011- (24 hours)
* MSc level (M2)
* Intro, phrase-based MT systems, neural MT, adaptation

## Algorithmic and programming

* 2010-2015 (55 hours)
* BSc level (L2)
* Data structures (linked list, hashtable, tree), pointers, recursivity

## Project: programming in C
* 2010-2015 (36 hours)
* BSc level (L2)
* Program a game in C, manage source code, manage project in a group (tasks, planning, etc.)
* Past classes

## Research Awareness (applied to machine translation)
* 2010-2015 (12 hours)
* MSc level (M1)
* Methodology and evaluation applied to machine translation

## C++ programming
* 2013-2014 (47 hours)
* MSc level (M1)
* Classes, inheritance, genericity, Standard Template Library

## Introduction to Programming (in C)
* 2010-2012 (55 hours)
* BSc level (L1)
* Algorithmics, variables, loops, functions


#{% include base_path %}

#{% for post in site.teaching reversed %}
#  {% include archive-single.html %}
#{% endfor %}
